@charset 'utf-8';

.l-column{
	flex:0 1 $base-content-width;
	max-width: $base-content-width;
	margin:0 auto;
	padding:0 $space-unit;
}
.l-row{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:0 auto;
}
.l-halfColumn{
	flex:1 0 0;
	max-width: ($base-content-width - $column-space)/2;
	margin-right:$column-space;
	// &:nth-child(even){
	// 	margin-right:0;
	// }
		&:last-child{
			margin-right:0;
		}
}
.l-halfTile{
	display:flex;
	flex:1 1 50%;
	margin:0;
	padding:0;
}
.l-quaterColumn{
	flex:1 0 0px;
	max-width:($base-content-width - $column-space*3)/4;
	margin-right: $column-space;
	&:nth-child(4n){
		margin-right: 0;
	}
}