@charset 'utf-8';

.EntryPanel{
	display:flex;
	align-items:center;
	&__main{
		display:flex;
		justify-content:space-between;
		align-self:stretch;
		flex:1 1 55%;
		flex-direction:column;
		justify-content:space-between;
		align-self:stretch;
		padding:20px 0;
	}
	&__sub{
		flex:1 1 45%;
		margin-right:20px;
	}
	&__thumb{
		width:100%;
		height:auto;
		position:relative;
		flex:1 1 45%;
		// padding-top: 40.5%;
		overflow: hidden;
		margin-right:$space-unit;
	}
	&__img{
		position:absolute;
		top:50%;
		left:50%;
		// transform:translate(-50%, -50%);
		margin-left:-50%;
		margin-top:-50%;
		width:auto;
		height:auto;
		max-width: 150%;
		max-height: 150%;
		min-width: 100%;
		min-height:100%;
	}
	&__head{
		font-weight:bold;
		font-size:16px;
	}
	&__body{
		margin-top:10px;
		font-size: 14px;
	}
	&__foot{
		margin-top:10px;
		text-align: right;
	}
}