@charset 'utf-8';

// colors
$primary-color:#07075F;
$secondary-color:#151596;
$accent-color:#89739F;
$background-color:#07155F;
$color-main-text:#474747;
$color-link:#878378;

$color-white: #fff;
$color-black: #252525;

$color-base: #fbf7f3;

$color-reverse-line: #fff;
$color-reverse-fill: #252525;


// sizes
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
