@import "./lib/sanitize";
//@import "./lib/eric_reset";
//@import "./lib/normalize";
:root,html,body{
	background-color:$background-color;
	color:$color-main-text;
	width:100%;
}
*{
	box-sizing:border-box;
}
li{
	list-style-type: none;
}
a{
	color:$color-main-text;
}
a:hover{
	text-decoration: none;
	color:$color-link;
}
img{
	max-width: 100%;
	height:auto;
}