@charset "utf-8";

//iPhone 5
@mixin ip5(){
	@media only screen and (min-width: 320px)
	 and (max-width: 568px){ 
		@content;
	}
}

//iPhone 5 landscape
@mixin ip5_land(){
	@media only screen and (min-width: 320px)
	 and (max-width: 568px)
	 and (orientation : landscape) { 
		@content;
	}
}

//iPhone 6
@mixin ip6(){
	@media only screen and (min-width: 375px)
	 and (max-width: 667px){ 
		@content;
	}
}

//iPhone 6 landscape
@mixin ip6_land(){
	@media only screen and (min-width: 375px)
	 and (max-width: 667px)
	 and (orientation : landscape) { 
		@content;
	}
}

//iPhone 6+
@mixin ip6plus(){
@media only screen and (min-width: 414px)
 and (max-width: 736px){ 
		@content;
	}
}

//iPhone 6+ landscape
@mixin ip6plus_land(){
@media only screen and (min-width: 414px)
 and (max-width: 736px)
 and (orientation : landscape) { 
		@content;
	}
}

//iPad
@mixin ip7plus(){
@media only screen and (min-width: 768px)
 and (max-width: 1024px){ 
		@content;
	}
}

//iPad landscape
@mixin ip7plus_land(){
@media only screen and (min-width: 768px)
 and (max-width: 1024px)
 and (orientation : landscape) { 
		@content;
	}
}

//General RWD pattern
@mixin rwd($min,$max){
	@media only screen and (min-width:$min)
	 	and (max-width:$max){ 
		@content;
	}
}
